In [1]:
import numpy as np
import pandas as pd

from tensorflow import keras
from tensorflow.keras import layers, callbacks

from sklearn.model_selection import train_test_split

from sklearn import metrics

In [16]:
data = pd.read_csv('winequality-red.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Exploratory Data Analysis

In [3]:
data['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [4]:
y = data['quality']

In [5]:
X = data.drop('quality', axis=1)
X.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8

## Data Preprocessing
+ Splitting into the Training and Validation Sets

In [6]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.23, random_state = 0)

## Create a Fully Connected Neural Network

In [7]:
model = keras.Sequential([
    layers.Dense(16, activation='relu', input_shape=[11]),
    layers.Dense(16, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(1)
])

How does the Network learn?

## Using the Optimizer and Loss Functions
These two functions take charge of the Model Training Process

In [8]:
model.compile(optimizer='adam', loss='mae')

In [9]:
# early_stopping = EarlyStopping{
#     min_delta = 0.01,
#     patience = 20,
    
# }

In [10]:
model.fit(X_train, y_train,
#           validation_data = [X_valid, y_valid],
          batch_size = 256,
          epochs = 30, 
#           callbacks = [early_stopping]
         )

Epoch 1/30
5/5 [==============================] - 0s 1ms/step - loss: 5.2800
Epoch 2/30
5/5 [==============================] - 0s 998us/step - loss: 4.4989
Epoch 3/30
5/5 [==============================] - 0s 2ms/step - loss: 3.7037
Epoch 4/30
5/5 [==============================] - 0s 1ms/step - loss: 3.0669
Epoch 5/30
5/5 [==============================] - 0s 1ms/step - loss: 2.6566
Epoch 6/30
5/5 [==============================] - 0s 1ms/step - loss: 2.3696
Epoch 7/30
5/5 [==============================] - 0s 1ms/step - loss: 2.1722
Epoch 8/30
5/5 [==============================] - 0s 1ms/step - loss: 2.0535
Epoch 9/30
5/5 [==============================] - 0s 1ms/step - loss: 1.9738
Epoch 10/30
5/5 [==============================] - 0s 1ms/step - loss: 1.8794
Epoch 11/30
5/5 [==============================] - 0s 1ms/step - loss: 1.7708
Epoch 12/30
5/5 [==============================] - 0s 1ms/step - loss: 1.6518
Epoch 13/30
5/5 [==============================] - 0s 2ms/step - loss: 1.4824
Epoch 14/30
5/5 [==============================] - 0s 2ms/step - loss: 1.3091
Epoch 15/30
5/5 [==============================] - 0s 1ms/step - loss: 1.1967
Epoch 16/30
5/5 [==============================] - 0s 2ms/step - loss: 1.1308
Epoch 17/30
5/5 [==============================] - 0s 2ms/step - loss: 1.0544
Epoch 18/30
5/5 [==============================] - 0s 1ms/step - loss: 0.9788
Epoch 19/30
5/5 [==============================] - 0s 1ms/step - loss: 0.9145
Epoch 20/30
5/5 [==============================] - 0s 1ms/step - loss: 0.8546
Epoch 21/30
5/5 [==============================] - 0s 2ms/step - loss: 0.7999
Epoch 22/30
5/5 [==============================] - 0s 2ms/step - loss: 0.7540
Epoch 23/30
5/5 [==============================] - 0s 2ms/step - loss: 0.7182
Epoch 24/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6768
Epoch 25/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6535
Epoch 26/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6322
Epoch 27/30
5/5 [==============================] - 0s 1ms/step - loss: 0.6199
Epoch 28/30
5/5 [==============================] - 0s 1ms/step - loss: 0.6140
Epoch 29/30
5/5 [==============================] - 0s 1ms/step - loss: 0.6076
Epoch 30/30
5/5 [==============================] - 0s 1ms/step - loss: 0.6028

In [11]:
history = model.history()
history

TypeError: 'History' object is not callable